<p style="color: green"><%= notice %></p>

<%= render @room %>

<div>
  
  <%= link_to "Back to rooms", rooms_path, "data-turbo-frame": "_top" %>
  <%= button_to "Destroy this room", @room, method: :delete %>
</div>
